<!-- Freemarker template -->
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Dersler</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/studentList">Ogrenci Yonetim Sistemi</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/studentList">Ogrenci Listesi</a></li>
                <li><a href="/studentAdd">Ogrenci Ekle</a></li>
                <li><a href="/lessonAdd">Ders Ekle</a></li>
                <li class="active"><a href="/lessonList">Ders Listesi</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <form accept-charset="utf-8" action="/lessonDetail" method="POST">
            <center>
                <table border="1">

                    <h1>Ders Listesi</h1>

                    <!-- http://freemarker.org/docs/ref_directive_list.html -->
                    <tr>
                        <th>
                            <center>Seçim</center>
                        </th>
                        <th>
                            <center>Ders ID</center>
                        </th>
                        <th>
                            <center>Ders Adı</center>
                        </th>
                        <br>
                    </tr>

                    <#list lessonList as lessonList>
                    <tr>

                        <td width="100"><input id="lesson_select_radio" name="lesson_select_radio" type="radio"
                                               value="${lessonList.getLessonId()}"></td>
                        <td width="200">${lessonList.getLessonId()}</td>
                        <td width="200">${lessonList.getLessonName()}</td>

                    </tr>
                </#list>
                </table>
            </center>
            <br>
            <a href="/lessonAdd"><input class="btn btn-default" value="Ekle"/></a>
            <input class="btn btn-default" type="submit" value="Detay"/>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; 2017 Ileri Java Medipol</p>
    </footer>
</div>
</body>
</html>